body {
    color: white;
}
.row {
    border: solid;
    border-color:white;
    border: thick;
    background-color: #343a40;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

}
#lamb {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

#middlerow {
    border: solid;border-width: 2px;border-color: black;
}

.port {
    width: 100%; 
    height: 100%;
}
#portfoliohead {
    font-size: xx-large;
    font-variant-caps: all-petite-caps;
}
.figure-caption {
    color:grey;
    font-size: xx-large;
}
.sig {
    height: 50px;
    width: 50px;
}